.footer {
  background-color: color(grey);
  width: 100%;
  padding: 4em 0;

  @include respond-to(600) {
    padding: 4em 1em;
  }

  .menu-item {
    display: block;
    float: left;
    margin-right: 0;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;

      a:last-child {
        padding-right: 0;
        border-right: 0;

        @include respond-to(600) {
          border-bottom: none;
        }

      }
    }
  }

  .footer-contact-item,
  a {
    color: white;
    font-size: 18px;
    // text-transform: uppercase;
    font-family: $font-primary;
    padding-left: 0;
    width: 100%;
    display: block;
    //border-right: 1px solid color(grey);

    @include respond-to(600) {
      border-right: none;
      text-align: center;
      margin: 0.4em 0;
      border-bottom: 1px solid color(grey);
      padding: 0;
    }
  }

  a {
    &:hover {
      color: color(blue);
      text-decoration: none;
    }
  }

  .widget {
    margin-top: 0;
  }

}

.footer-social,
.footer-contact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  float: left;

  a {
    font-size: $font-m;
    margin-right: 1em;
  }
}

.footer-social {
  margin-top: 1em;

  @include respond-to(600) {
    display: flex;
    justify-content: center;
  }
}


.footer-widgets {
  margin-bottom: 4em;

  @include respond-to(600) {
    margin-bottom: 1em;
  }
}

#menu-footer-navigation {
  display: flex;
  justify-content: center;
  float: left;
  width: 100%;
  margin: 0;
  list-style: none;

  @include respond-to(600) {
    flex-direction: column;
  }
}

.footer-wrapper {
  margin-top: 2em;
  border-top: 1px solid color(grey);
  padding: 2em 0 0 0;

  @include respond-to(600) {
    padding-bottom: 0;
  }
}

.footer-copy {
  margin-top: 0;
  font-size: rem(14px);
  font-family: Lato,cursive, helvetica, sans-serif;
}

.footer-logo {
  width: rem($space-l);
}

.journal-footer {
  border-top: 1px solid color(grey);
  padding-top: 4em;
  margin: 3em 0 1em 0;

  @include respond-to(500) {
    align-items: center;
  }

}

.author-wrapper {
  width: 13em;
  margin: 0 3em;
}

.author-image-footer {
  width: 50%;
  margin: 0 auto 1.5em auto;
}

.author-name {
  text-align: center;
}

.author-social-links {
  list-style: none;
  margin: 0 0 1.5em 0;
}

.author-social-link {
  text-transform: uppercase;
  font-family: $font-primary;
  text-align: center;
  display: block;
  width: 100%;
  font-size: $font-xxs;
}