$margin: 2em;
$containerWidth: 1200px;
$cols-1: 1;
$cols-2: 2;
$cols-3: 3;
$cols-4: 4;
$cols-5: 5;
$cols-6: 6;
$cols-7: 7;

//
// Grid, nice n simple
//
.l-row {
  display: flex;
  flex-flow: row wrap;
  max-width: rem($containerWidth);
  width: 100%;
}

.l-col {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.l-box {
  max-width: 100%;
  min-width: 0;
  padding: 0 1em;
}


//
// Columns
//
.l-box-1 {
  @include rowMachine($cols-1, $margin);
}

.l-box-2 {
  @include rowMachine($cols-2, $margin);

  @include respond-to(600) {
    @include rowMachine($cols-1, $margin);
  }
}

.l-box-3 {
  @include rowMachine($cols-3, $margin);

  @include respond-to(900) {
    @include rowMachine($cols-2, $margin);
  }

  @include respond-to(600) {
    @include rowMachine($cols-1, $margin);
  }
}

.l-box-4 {
  @include rowMachine($cols-4, $margin);

  @include respond-to(800) {
    @include rowMachine($cols-2, $margin);
  }

  @include respond-to(500) {
    @include rowMachine($cols-1, $margin);
  }
}

.l-box-5 {
  @include rowMachine($cols-5, $margin);

  @include respond-to(800) {
    @include rowMachine($cols-2, $margin);
  }

  @include respond-to(500) {
    @include rowMachine($cols-1, $margin);
  }
}

.l-box-6 {
  @include rowMachine($cols-6, $margin);

  @include respond-to(1000) {
    @include rowMachine($cols-4, $margin);
  }

  @include respond-to(800) {
    @include rowMachine($cols-3, $margin);
  }

  @include respond-to(700) {
    @include rowMachine($cols-2, $margin);
  }

  @include respond-to(500) {
    @include rowMachine($cols-1, $margin);
  }
}

.l-box-7 {
  @include rowMachine($cols-7, $margin);

  @include respond-to(1100) {
    @include rowMachine($cols-5, $margin);
  }

  @include respond-to(900) {
    @include rowMachine($cols-4, $margin);
  }

  @include respond-to(700) {
    @include rowMachine($cols-3, $margin);
  }

  @include respond-to(600) {
    @include rowMachine($cols-2, $margin);
  }

  @include respond-to(500) {
    @include rowMachine($cols-1, $margin);
  }
}

[class*="l-box"] {
  margin: 0 1em;

  @include respond-to(900) {
    margin: 0.5em;
  }

  @include respond-to(600) {
    margin: 0.5em 1em;
  }
}

// .l-gutter-m {
//   .l-box {
//     padding: 0 2em;
//   }
// }

.l-col-reverse {
  flex-direction: column-reverse;
}

.l-col-center {
  align-items: center;
}

//
// Ordering
//
.l-order-1 {
  order: 1;
}

.l-order-2 {
  order: 2;
}

.l-order-3 {
  order: 3;
}

.l-order-4 {
  order: 4;
}

.l-order-5 {
  order: 5;
}

.l-order-6 {
  order: 6;
}

.l-order-7 {
  order: 7;
}

//
// Row aignment
//
.l-row-right {
  justify-content: flex-end;
}

.l-row-center {
  justify-content: center;
  margin: 0 auto;
}

.l-row-justify {
  justify-content: space-between;
}

.l-row-spaced {
  justify-content: space-around;
}

.l-row-reverse {
  flex-direction: row-reverse;
}

//
// Spacing
//
.l-fit {
  flex: 1;
  min-width: 0;
}

.l-fill {
  flex: 1;
  min-width: 0;
}

.l-contained {
  flex: none;
}

//
// IE9
//
.no-flexbox {

   .l-row,
   .l-col {
      display: table;
      table-layout: fixed;
      vertical-align: top;
   }

   .l-col {
      // float: left;
   }


   // .menu-secondary-navigation-container,
   // .menu-secondary-navigation-container .icon

   .l-fill,
   .l-box-1,
   .l-box-2,
   .l-box-3,
   .l-box-4,
   .l-box-5,
   .l-box-6,
   .l-box-7 {
      vertical-align: top;
      display: table-cell;
   }

   .l-box-1 {
      width: 100%;
   }

   .l-box-2 {
      width: 50%;
   }

   .l-box-3 {
      width: 30%;
   }

   .l-box-4 {
      width: 23%;
   }

   .l-box-5 {
      width: 17%;
   }

   .l-box-6 {
      width: 14.666666667%;
   }

   .l-box-7 {
      width: 12.285714286%;
   }

   .nav-wrapper {
      width: 70%;
   }

   .menu-secondary-navigation-container {
      width: 78%;
      margin-right: 0;
   }

   .l-box.card,
   .menu-secondary-navigation-container .icon,
   .menu-item {
      // vertical-align: top;
      // display: table-cell;
      display: inline-block;
   }

   .nav-secondary {
      float: left;
      width: 100%;
      text-align: right;
      margin-right: 3em;

      .menu-item {
         // float: right;
      }
   }

   .nav-wrapper .nav-primary {
      float: right;
      width: auto;
   }

   .byline-time,
   .byline-author,
   .team-social-item {
      float: left;
      width: auto;
   }

   .component-heading {
      text-align: center;
   }

   .testimonial {
      margin: 0 auto;
   }

   .card-heading span {
      width: 80%;
   }

   .card {
      min-height: 380px;
   }

   .card.card-secondary {
      min-height: 430px;
   }

   .client-name + a {
      display: block;
      text-align: center;
      margin: 0 auto;
   }

}

.flexboxlegacy {
   // .l-box-1 {
   //    width: 100%;
   // }
   //
   // .l-box-2 {
   //    width: 46%;
   // }
   //
   // .l-box-3 {
   //    width: 28%;
   // }
   //
   // .l-box-4 {
   //    width: 21%;
   // }
   //
   // .l-box-5 {
   //    width: 17%;
   // }
   //
   // .l-box-6 {
   //    width: 12.666666667%;
   // }
   //
   // .l-box-7 {
   //    width: 11.285714286%;
   // }
   //
   // .header {
   //    min-height: 450px;
   // }
}
