.main {
  margin: 2em auto;

  @include respond-to(900, 'max') {
    flex-direction: column;
  }

  h2:first-of-type {
    margin: 0;
  }
}

.sidebar {
  border-left: 1px solid color(offwhite);

  h3:first-of-type {
    margin-top: 0;
  }

  @include respond-to(900, 'max') {
    padding: rem($space-m*2) 0;
    margin: rem($space-l) 0;
    border-top: 1px solid #d8dbdf;
    max-width: 100%;
    width: 100%;
  }

  @include respond-to(800, 'max') {
    flex: 0 0 auto;
    margin-top: 0;
  }

  @include respond-to(600, 'max') {
    margin-top: 0;
    margin-bottom: rem($space-s);
  }

}

.post {
  padding-bottom: rem(space-m);
  margin-bottom: 2em;

  @include respond-to(800, 'max') {
    padding-right: 0;
  }
}

.content {
  margin-top: rem($space-l * 2);

  @include respond-to(900, 'max') {
    margin-top: rem($space-m);
    flex-direction: column-reverse;
  }
}

.entry-content {

  figure {
    margin: 0;
    max-width: 100%;

    a {
      border: none;
      box-shadow: none;

      &:hover {
        background: none;
      }
    }
  }
}

.post-preview {
  padding: 0 rem($space-m * 2) rem($space-m * 2);

  @include respond-to(900, 'max') {
    padding: 0;
  }

  .entry-title {
    margin-top: 0;
  }

  &:hover {
    h2 {
      color: white;
    }
  }

  &.post {
    border-bottom: none;

    &:last-child {
      @include respond-to(600, 'max') {
        padding: 0;
      }
    }
  }

}

.post-initial {
  text-transform: uppercase;
}

.posts-navigation .nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.page-template-template-posts .posts-navigation .screen-reader-text,
.blog .posts-navigation .screen-reader-text {
  display: none;
}

.single-post {

  .post {
    border-bottom: none;
  }

  .footer {
    border-top: none;
  }
}

.nav {
  list-style: none;
  margin: 0;
}

.nav-primary {
  @include respond-to(700, 'max') {
    display: none;
  }
}

.marquee-text {
  position: absolute;
  color: color(white);
  width: 70%;
  text-align: center;
  left: 50%;
  top: 62%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  font-size: 54px;
  margin-bottom: 0.5em;
  text-transform: uppercase;

  @include respond-to(1300, 'min') {
    max-width: 90%;
    margin: 0 auto;
    font-size: 70px;
  }

  @include respond-to(900, 'max') {
    font-size: 40px;
  }

  @include respond-to(600, 'max') {
    width: 90%;
    font-size: 30px;
  }
}

.marquee-text h1 {
  font-size: 54px;

  @include respond-to(600, 'max') {
    font-size: 42px;
  }
}

.home .marquee-text {
  top: 50%;

  @include respond-to(1300, 'min') {
    h1 {
      max-width: 90%;
      margin: 0 auto;
      font-size: 70px;
    }
  }

  @include respond-to(800, 'max') {
    width: 90%;
  }

  @include respond-to(600, 'max') {
   h1 {
     font-size: 36px;
     margin-bottom: 1em;
   }
  }


}

.video-cta {
  width: 65%;
  text-align: center;
  position: relative;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);

  @include respond-to(1000, 'max') {
    width: 90%;
  }
}

.video-wrapper {
  min-height: 400px;
  position: relative;
  background-color: rgba(0,0,0,0.3);

  .video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
}

.byline-author {
  margin: 0 0 0 5px;
}

.byline {
  font-weight: bold;
  font-size: rem(15px);
}
