.is-ie {

  .l-center {
    margin: 0 auto;
  }

  &.l-col {
    display: block;
  }

  .l-grid-1 {
    width: 100%;
    float: left;
  }

  .l-grid-2 {
    width: 50%;
    float: left;
  }

  .l-grid-3 {
    width: 33.3%;
    float: left;
  }

  .l-grid-4 {
    width: 25%;
    float: left;
  }

  .l-grid-5 {
    width: 20%;
    float: left;
  }

  .l-grid-6 {
    width: 16.666%;
    float: left;
  }

  .l-grid-7 {
    width: 14.285714286%;
    float: left;
  }

  .content {
    margin-top: 3em;
  }

  .author-contact {
    width: 60%;
    float: left;
  }

  .author-footer-name {
    width: 30%;
    float: left;
  }

  .author-footer-bio > p:last-child {
    float: left;
  }

}

//
// IE 9
//
.no-flexbox {

  .l-col,
  .l-row {
    display: table !important;
    width: 100%;
  }

  .l-center {
    margin: 0 auto;
  }

  .l-grid-1 {
    display: table-cell;
    width: 100%;
  }

  .l-grid-2 {
    display: table-cell;
    width: 50%;
    float: none;

    @include respond-to(500) {
      width: 100%;
    }
  }

  .l-grid-3 {
    display: table-cell;
    width: 33.3%;
    float: none;

    @include respond-to(700) {
      width: 50%;
    }

    @include respond-to(500) {
      width: 100%;
    }
  }

  .l-grid-4 {
    display: table-cell;
    width: 25%;
    float: none;

    @include respond-to(800) {
      width: 50%;
    }

    @include respond-to(500) {
      width: 100%;
    }
  }

  .l-grid-5 {
    display: table-cell;
    width: 20%;
    float: none;

    @include respond-to(900) {
      width: 25%;
    }

    @include respond-to(700) {
      width: 50%;
    }

    @include respond-to(500) {
      width: 100%;
    }
  }

  .l-grid-6 {
    display: table-cell;
    width: 16.666666667%;
    float: none;

    @include respond-to(900) {
      width: 33.3%;
    }

    @include respond-to(700) {
      width: 50%;
    }

    @include respond-to(500) {
      width: 100%;
    }
  }

  .l-grid-7 {
    display: table-cell;
    width: 14.285714286%;
    float: none;

    @include respond-to(900) {
      width: 25%;
    }

    @include respond-to(700) {
      width: 33.3%;
    }

    @include respond-to(600) {
      width: 50%;
    }

    @include respond-to(500) {
      width: 100%;
    }
  }

  // .home .main {
  //   width: 67%;
  //   margin-top: 2em;
  // }

  // .sidebar {
  //   float: left;
  //   width: 30%;
  //   margin-top: 2em;
  // }

  .author-footer-bio {
    padding-left: 1.5em;
  }

}

//
// Flexbox fallback for IE
//
.is-ie10,
.is-ie11 {
  body {
    display: block;
  }
}