.form,
.mc4wp-form {

  .mc4wp-form-fields {
    label {
      display: none;
    }
  }

  input[type="submit"] {
    padding: rem($space-s+2) rem($space-m);
    font-weight: bold;
    background-color: color(blue);
    float: left;
    width: 30%;
    margin-top: 0;
    border-radius: 0;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: $font-base;

    &:hover {
      opacity: 0.8;
    }

    @include respond-to(600) {
      width: 100%;
    }

  }

  input[type="email"] {
    padding: rem($space-xs) rem($space-m);
    background-color: transparent;
    float: left;
    width: 70%;
    border: 2px solid color(blue);
    border-radius: 0;
    color: white;
    font-size: $font-base;
    padding: 10px 20px;
  }
}

.mc4wp-alert,
.mc4wp-success {
  color: white;

  p {
    margin: 0;
  }
}

::-webkit-input-placeholder {
   color: color(blue);
}

:-moz-placeholder { /* Firefox 18- */
   color: color(blue);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: color(blue);
}

:-ms-input-placeholder {
   color: color(blue);
}