html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
  line-height: 1.8;
  font-size: $base;
  font-family: $font-primary;
  color: color(darkblue);
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.l-col {
    padding: 0;
  }

  &.animated {
    animation-duration: 0.3s;
  }

  @include respond-to(600) {
    font-size: ($base - 2px);
    line-height: 2;
  }
}

::selection {
  background-color: color(offwhite);
  // color: white;
}

code, kbd, pre, samp {
  border-radius: rem($space-s / 2);
}

ul, ol, dl {
  padding-left: 10px;
  margin: rem($space-s) 0 rem($space-s) rem($space-s);
}