table {
  width: 100%;

  @include respond-to(700) {
    border: none;
  }
}

thead {
  background-color: color(theads);
}

td, th {
  padding: rem($space-s / 2) rem($space-s);
  font-size: rem(17px);
  vertical-align: top;
  max-width: rem(600px);

  p {
    margin: 0;
  }

  &:first-child {
    @include respond-to(500) {
      min-width: auto;
    }
  }

}

td:nth-child(even) {}

tr {
  &:nth-child(even) {
    background-color: color(rows);

    @include respond-to(500) {
      min-width: auto;
    }
  }
}

th {
  text-align: left;
  color: white;
  font-family: $font-primary;
  font-size: rem($space-m);
}

.table-mobile {
  display: none;
  border: none;

  @include respond-to(900) {
    display: block;
  }

  tbody {
    display: table;
    width: 100%;
  }
}

table.large-only {

  @include respond-to(900) {
    display: none;
  }
}