h1, h2, h3, h4, h5, h6 {
  font-family: $font-primary;
  line-height: 1.2;
  color: color(headings);
  letter-spacing: -1px;
  text-transform: uppercase;

  a {
    text-decoration: none;
    color: color(headings);
  }

  + p {
    margin-top: 0.5em;
  }

}

.page-header {
  margin-bottom: 1.7em;
}

.page-byline,
.post-return {
  text-align: center;
  letter-spacing: normal;
  margin: 0;
  font-style: italic;
  font-size: 18px;
  color: #666;
  font-family: $font-primary;
  font-weight: normal;
  width: 100%;
  display: block;
}

.author-image-wrapper + .entry-title {
  margin: 1.5em 0 0.5em 0;

  @include respond-to(600) {
    margin: 2em 0 0.5em 0;
    font-size: 22px;
  }
}

a {
  color: color(links);
  text-decoration: none;

  &:hover {
    color: darken(color(links), $hoverDarken);
  }
}

.widget,
.entry-summary,
.entry-content,
article {
  a {
    &:hover {
      color: darken(color(links), $hoverDarken);
      text-decoration: underline;
    }
  }

}

h1 {
  font-weight: bold;
  font-size: rem($heading1);
  margin: 0 0 rem(10px) 0;

  @include respond-to(600) {
    font-size: rem($heading2);
  }
}

h2 {
  font-weight: bold;
  font-size: rem($heading2);
  margin: 1em 0 rem(10px) 0;
  color: color(green);

  a {
    color: color(green);

    &:hover {
      color: darken(color(green), $hoverDarken);
      text-decoration: none;
    }
  }

  @include respond-to(400) {
    font-size: rem(32px);
  }
}

h3 {
  margin: 1em 0 rem(10px) 0;
  font-size: rem($heading3);
  font-weight: bold;
  color: color(lightgrey);
}

.entry-title {
  margin-top: 0.5em;
}

em, i {
  font-style: italic;
}

blockquote {
  padding: 0 0 0 rem(35px);
  font-style: italic;
  border-left: 3px solid color(borders);
  margin: 2.5em 0 2.5em 1.5em;
  position: relative;
  width: 120%;
  left: -14%;
  font-size: rem($quotes);

  @include respond-to(500) {
    margin-left: 0;
  }
}

.icon {
  font-family: Socialico;
  display: inline-block;
  float: left;
  font-size: 65px;
  color: color(lightgrey);

  &:before {
    height: 50px;
    width: 50px;
  }
}

.icon-facebook:before {
  content: "\0066";
}

.icon-twitter:before {
  content: "\006C";
}

.header {
  .icon {
    font-size: 50px;
    margin-left: 20px;
    position: relative;
    top: -4px;
  }
}

.logo {
  display: block;
  width: 260px;
  min-width: 200px;

  @include respond-to(900) {
    width: 200px;
    float: left;
  }
}