.card {
  background-color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card-primary {
  border-top: 11px solid color(red);
  // padding: 0 2em 2em 2em;
  padding-top: 0;

  .card-description > p {
     margin-top: 0.5em;
 }

  .btn {
    text-align: center;
  }
}

.card-secondary {
  padding: 0;

  .card-heading,
  .card-description {
    padding: 0 20px;
  }
}

.card-heading-link {
  &:hover {
    color: darken(color(red), $hoverDarken);

    h2 {
      color: darken(color(red), $hoverDarken);
    }
  }
}

.card-heading {
  color: color(red);
  margin: 10px 0 0 0;
  font-size: rem(22px);

  @include respond-to(1100, 'max') {
    font-size: rem(20px);
  }

  .fa {
    font-size: rem(40px);

    @include respond-to(1100, 'max') {
      font-size: rem(34px);
    }

  }
}

.card-meta {
  padding: 0 20px;
}
