.client {
  max-height: 260px;
  
  a {
    display: block;
    max-width: 100%;
  }
}

.client-name {
  text-align: center;
}

.client-image:hover {
  opacity: 0.6;
}

.client-image {
  max-width: 80%;
  margin: 0 auto;
  display: block;

  @include respond-to(500, 'max') {
    max-width: 60%;
  }
}
