.component {
  text-align: left;
  width: 100%;
  padding: 3em 0;
}

.component-heading {
  margin-bottom: 1em;

  @include respond-to(600, 'max') {
    font-size: rem($base*2);
  }
}

.component-latest {
  background-size: cover;
  background-image: repeat;
  background-color: rgba(68, 214, 44, 0.8);

  .component-heading {
    color: white;
  }
}

.main + .component {
  &:only-of-type {
    padding-top: 0;
    margin-top: -3em;
  }
}
