.slick-slider {
  top: -116px;
  min-height: 1000px;
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 1000px;
}

.slide img {
  width: 100%;
}