.widget {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2em;

  &:first-of-type {
    margin-top: 0;
  }

  .testimonial,
  .testimonial-attribution {
    text-align: left;
  }

  .testimonial-attribution {
    font-size: 16px;
    color: color(lightgrey);
    margin-left: 60px;
  }

  .testimonial {
    font-size: rem(24px);
    line-height: 1.4;
    color: color(green);
    position: relative;
    margin-left: 50px;

    @include respond-to(1100) {
      font-size: rem(20px);
    }

    &:before,
    &:after {
      font-size: 40px;
      position: absolute;
      font-family: FontAwesome;
    }

    &:before {
      content: '\f10d';
      top: 0;
      left: -50px;

      @include respond-to(900) {
        top: -10px;
      }

    }

    &:after {
      display: none;
    }

    p {
      margin: 0 0 0 10px;
      font-size: rem(20px);
    }

  }

}


.widget-related-news {
   margin: 3em 1em 4em 1em;

   @include respond-to(900) {
      margin: rem($space-xl) 1em;
   }
}


.widget-social {
  @include respond-to(600) {
    margin-top: rem($space-xl);
  }
}


.widget-signature {
  img {
    @include respond-to(900) {
      max-width: 70%;
      margin: 0 auto;
    }
  }
}


.widget-title {
  font-size: $font-m;
  text-transform: uppercase;
  color: color(lightgrey);
  margin: 0 0 1em 0;

  @include respond-to(600) {
    text-align: center;
  }
}

.widget-customer-service,
.widget-social {
  text-align: center;
}

.widget-social-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.widget-social-item {
  float: left;
}

.widget-social-link {
  font-size: 26px;
  color: color(darkblue);
  margin-right: 16px;

  &:hover {
    color: color(darkgreen);
  }
}






.widget-title-link {
  border-bottom: 1px solid color(lightgrey);
  margin-bottom: 10px;
  padding-bottom: 10px;

  h2 {
    font-size: $font-s;
    text-transform: capitalize;
    color: color(red);
  }

  &:hover {
    text-decoration: none;
    h2 {
      text-decoration: none;
      color: darken(color(red), $hoverDarken);
    }
  }
}

.widget-snippet {
  margin-top: 0;
  font-size: $font-xs;
}
