$colors: (
  blue: #00A9E0,
  blueDark: #0092C1,
  green: #44d62c,
  red: #FE5000,
  base: #595959,
  grey: #333,
  lightgrey: #8A8D8F,
  offwhite: #F0F0F0,
  white: #FFF,
  links: #FE5000,
  linksHover: #52A7A6,
  buttonPrimary: #69C7BF,
  buttonSecondary: #52A7A6
);
