// Breakpoints
$breakpoints: (
  400: 400px,
  500: 500px,
  600: 600px,
  700: 700px,
  800: 800px,
  900: 900px,
  1000: 1000px,
  1100: 1100px
);

// z-index
$z-layers: (
  bottom: -10,
  default: 1,
  dropdown: 10,
  overlay: 20,
  modal: 30
);

$speed-fast: 0.1s;
$speed-slow: 0.4s;